body {
    background-color: #fcf7f7;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav ul li a:hover {
    background-color: #d10808;
}
h1 {
    color: #333;
}
input[type="file"], select {
    margin: 20px 0;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #eee;
}